<div class="row">
    <div>
      <img src="./assets/media/proyetos.png" width="1519" height="319">
    </div>
</div>
<div class="row g-0 bg-body-secondary position-relative" style="margin-top: 1%;">
  <div class="col-md-5 mb-md-0 p-md-4">
    <img src="./assets/media/Imagen2.jpg" alt="..." style="width:500px;height:300pxd; float: center;">
  </div>
  <div class="col-md-7 p-4 ps-md-0">
    <h5 class="mt-0">EDIFICACIÓN</h5>
    <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>

  </div>
</div>
<div class="row g-0 bg-body-secondary position-relative" style="margin-top: 1%;">
  <div class="col-md-5 mb-md-0 p-md-4">
    <img src="./assets/media/Imagen2.jpg" alt="..." style="width:500px;height:300pxd; float: center;">
  </div>
  <div class="col-md-7 p-4 ps-md-0">
    <h5 class="mt-0">ESTRUCTURAS DE ACERO</h5>
    <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>

  </div>
</div>
<div class="row g-0 bg-body-secondary position-relative" style="margin-top: 1%;">
  <div class="col-md-5 mb-md-0 p-md-4">
    <img src="./assets/media/Imagen2.jpg" alt="..." style="width:500px;height:300pxd; float: center;">
  </div>
  <div class="col-md-7 p-4 ps-md-0">
    <h5 class="mt-0">DRENAJE</h5>
    <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>

  </div>
</div>
<div class="row g-0 bg-body-secondary position-relative" style="margin-top: 1%;">
  <div class="col-md-5 mb-md-0 p-md-4">
    <img src="./assets/media/Imagen2.jpg" alt="..." style="width:500px;height:300pxd; float: center;">
  </div>
  <div class="col-md-7 p-4 ps-md-0">
    <h5 class="mt-0">PAVIMENTO ASFALTICO</h5>
    <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>

  </div>
</div>
<div class="row g-0 bg-body-secondary position-relative" style="margin-top: 1%;">
  <div class="col-md-5 mb-md-0 p-md-4">
    <img src="./assets/media/Imagen2.jpg" alt="..." style="width:500px;height:300pxd; float: center;">
  </div>
  <div class="col-md-7 p-4 ps-md-0">
    <h5 class="mt-0">PAVIMENTO DE CONCRETO HIDRÁULICO</h5>
    <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>

  </div>
</div>
<div class="row g-0 bg-body-secondary position-relative" style="margin-top: 1%;">
  <div class="col-md-5 mb-md-0 p-md-4">
    <img src="./assets/media/Imagen2.jpg" alt="..." style="width:500px;height:300pxd; float: center;">
  </div>
  <div class="col-md-7 p-4 ps-md-0">
    <h5 class="mt-0">CANCHAS DEPORTIVAS ESCOLAR</h5>
    <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>

  </div>
</div>