<div class="row">
    <div>
      <img src="./assets/media/proyetos.png" alt="" width="1515" height="319" >
    </div>
</div>
<div class="row">
  <div style="margin-top:2%;">
    <h1 style="color: aliceblue;text-align: right; font-family: Georgia;">
      <img src="./assets/media/ejemplo.png" style="float:left;width:600px;height:400px; margin-top:2%;" >PROYECTO 1</h1>
  </div>
  <div style="margin-top:1%; margin-left: 13%;">
    <p style="color: aliceblue;text-align: right; font-family: Georgia;font-size: 200%;"> Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. 
      Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue.
       Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. 
       Donec vitae dui eget tellus gravida venenatis. 
       Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus.
        Mauris quis diam velit</p>
  </div>
</div>
<br><br>
<div class="row" style="margin-top:2%;">
  <div style="margin-top:3%;">
    <h1 style="color: aliceblue;text-align: left; font-family: Georgia;">
      <img src="./assets/media/ejemplo.png" style="float:right;width:600px;height:400px;" >PROYECTO 1</h1>
  </div>
  <div style="margin-top:1%; margin-right: 13%;">
    <p style="color: aliceblue;text-align: left; font-family: Georgia;font-size: 200%;"> Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. 
      Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue.
       Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. 
       Donec vitae dui eget tellus gravida venenatis. 
       Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus.
        Mauris quis diam velit</p>
  </div>
</div>
<br><br>
<div class="row">
  <div style="margin-top:2%;">
    <h1 style="color: aliceblue;text-align: right; font-family: Georgia;">
      <img src="./assets/media/ejemplo.png" style="float:left;width:600px;height:400px; margin-top:2%;" >PROYECTO 1</h1>
  </div>
  <div style="margin-top:1%; margin-left: 13%;">
    <p style="color: aliceblue;text-align: right; font-family: Georgia;font-size: 200%;"> Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. 
      Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue.
       Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. 
       Donec vitae dui eget tellus gravida venenatis. 
       Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus.
        Mauris quis diam velit</p>
  </div>
</div>