<div class="row">
    <div>
          <img src="./assets/media/contactos.png" alt="" width="1520" height="319" >
        </div>
    
    
        <div class="row">
         
          <img src="./assets/media/locacion.png" style="float:right;width:896px;height:557px;" >
          
        </div>
        <div style="margin-top:5%; margin-left: 13%;">
          <img src="./assets/media/mapa.png" style="float:left;width:40px;height:40px;" >
          <h1 style="color: aliceblue;">Dirección</h1>
        </div>
        <div style="margin-top: 0.1%;">
          <p style="color: aliceblue;font-size:200%; text-align:center;" >C. Vicente Guerrero 13, Delegación Sta Ana Tlapaltitlán, 50160 Santa Ana Tlapaltitlán, Méx.</p>
        </div>
        <div style="margin-top:2%; margin-left: 13%;">
          <img src="./assets/media/telefono.png" style="float:left;width:30px;height:30px;" >
          <h1 style="color: aliceblue;">Telefono</h1>
          <p style="color: aliceblue; font-size:200%; margin-left: 0.5%;">7223823384</p>
        </div>
        
        