<div class="row">
    <div>
      <img src="./assets/media/inicio.png" alt="" width="1519" height="319" >
    </div>
</div>

<div class="row">
    <div>
      <img src="./assets/media/vision.png" alt=""width="1519" height="450" style="margin-top:1%;">
    </div>
</div>
<div class="row">
    <div>
      <img src="./assets/media/mision.png" alt=""width="1519" height="470" style="margin-top:1%;">
    </div>
</div>
<div class="row">
    <div>
      <img src="./assets/media/valores.png" alt="" width="1519" height="470" style="margin-top:1%;">
    </div>
</div>