<div class="row">
    <div>
      <img src="./assets/media/inicio.png" alt="" width="1515" height="319" >
    </div>
</div>
<div class="row">
    <div  class="video-container">
        <div>
            <video width="1515" height="919" autoplay>
                <source src="./assets/media/video2.mp4" type="video/mp4">
              </video>
        </div>
    
</div>
<div class="row">
    <div>
      <img src="./assets/media/vision.png" alt="" width="1515" height="430" style="margin-top:1%;">
    </div>
</div>
<div class="row">
    <div>
      <img src="./assets/media/mision.png" alt="" width="1515" height="430" style="margin-top:1%;">
    </div>
</div>
<div class="row">
    <div>
      <img src="./assets/media/valores.png" alt=""  width="1515" height="430" style="margin-top:1%;">
    </div>
</div>