<body>
  <nav class="nav">
    <img src="./assets/media/logo.png" alt="" width="70" height="80">
   <li><a class="a" routerLink="/bolsa-trabajos" routerLinkActive="active">Bolsa de Trabajo</a></li>
   <li><a class="a" routerLink="/contactos" routerLinkActive="active">Contactos</a></li> 
   <li><a class="a" routerLink="/proyectos" routerLinkActive="active">Proyectos</a></li>
   <li><a class="a" routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
  </nav>
  </body>
  <router-outlet></router-outlet>